.delete-button {
    margin-left: 7px;
}
.checked {
    text-decoration: line-through;
}
.slopetest {
    display: flex;
    height: 100px;
    position: relative;
    float: left;
    background: green;
}
.slopetest:after {
    content: '';
    display: block;
    bottom: 0px;
    width: 0px;
    height: 0px;
    border-top: 100px solid green;
}

.slopetest:nth-child(even) {
    background: red;
}

.slopetest:nth-child(odd):before {
    content: '';
    display: block;
    bottom: 0px;
    width: 0px;
    height: 0px;
    border-bottom: 100px solid green;
    border-left: 30px solid red;
}
.slopetest:nth-child(odd):after {
    border-right: 30px solid red;
}
